* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 200vh;
    background-color: #F3F3F3;
}

a {
    text-decoration: none;
    color: #fff;
    transition: opacity .2s ease;
}

a:hover {
    opacity: .5;
}

ul {
    list-style: none;
}